#### Q4) TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [4]:
# Loading Dataset
buyer = pd.read_csv('Costomer+OrderForm.csv')
buyer.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [5]:
buyer.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [17]:
print('\n',buyer.Phillippines.value_counts(), '\n',buyer.Indonesia.value_counts(), '\n',buyer.Malta.value_counts(), '\n',buyer.India.value_counts())

 Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64
 Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64
 Malta
Error Free    269
Defective      31
Name: count, dtype: int64
 India
Error Free    280
Defective      20
Name: count, dtype: int64

In [23]:
# Create the contingency table by combining row totals
observed = [[271,267,269,280],[29,33,31,20]]
observed

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [27]:
# Define the null hypothesis
H0: 'There is a significant association between center and defective status.'

In [ ]:
# Define the alternative hypothesis
H1: 'There is no significant association between center and defective status.'

In [29]:
# Perform the chi-square test
chi2, p, df, expected = stats.chi2_contingency(observed)

# Output the results
print("Chi-square statistic:", chi2)
print("p-value:", p)
print("Degrees of freedom:", df)
print("Expected frequencies:", expected)

Chi-square statistic: 3.858960685820355
p-value: 0.2771020991233135
Degrees of freedom: 3
Expected frequencies: [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [28]:
alpha = 0.05
if p < alpha:
    print("Reject the null hypothesis.")
else:
    print("Fail to reject the null hypothesis.")

Fail to reject the null hypothesis.