<img src="Q3.png" alt="Q3_image" width="400" height="300">

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
# Loading Dataset
buyer = pd.read_csv('BuyerRatio.csv')
buyer.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
c_table = [[50,142,131,70],
        [435,1523,1356,750]]

In [ ]:
# Define the null hypothesis
H0: 'Male-female buyer rations are similar across regions.'

In [ ]:
# Define the alternative hypothesis
H1: 'Male-female buyer rations are not similar across regions.'

In [7]:
# Perform chi-square test for independence
chi2, p, df, expected = stats.chi2_contingency(c_table)

# Print results
print("Chi-square statistic:", chi2)
print("P-value:", p)
print("Degrees of freedom:", df)
print("Expected frequencies:", expected)

Chi-square statistic: 1.595945538661058
P-value: 0.6603094907091882
Degrees of freedom: 3
Expected frequencies: [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [8]:
# Interpret Results
alpha = 0.05
if p < alpha:
    print("Reject the null hypothesis.")
else:
    print("Fail to reject the null hypothesis.")

Fail to reject the null hypothesis.